body {
    background-color: white;
}

h1 {
    text-align: center;
    color:#527298;
}
#text {
    
    width: 85%;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(200, 198, 194);
}

h2{
    text-align: center;
    color:#527298;
}

p {
    margin-left: 1%;
    margin-right: 1%;
}

#Homework8_map {
    position:relative;
    left: 11%;
    padding: 25px;
    width: 80%;
   
}

.outer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#Region{
   left: 2%;
}

#Airlines{
    margin-left: -5px;
}



