body {
    background-image: radial-gradient( white, black ), linear-gradient( #96ffff, #46b2ff);
    background-blend-mode: overlay, multiply, normal;
    background-size: cover;
    background-attachment:scroll, scroll, fixed;
}

#Homework8_map {
    display: block;

}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
    margin-bottom: 30px;
}
.h1{
    font-family: "Courier New";
    font-size: 30px;
}
#Region {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


