body {
    background-image: radial-gradient( white, rgb(76, 112, 125) ), linear-gradient( #96ffff, #46b2ff) 
}

#Homework8_map {
    display: block;

}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #000000;
    padding: 10px;
    margin-bottom: 30px;
}
.h1{
    font-family: "Courier New";
    font-size: 30px;
}
#Region {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


